*{
   padding: 00;
   margin: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   color: white;
   list-style-type: none;
   transition: all .5s;
}

body{
   width: 100%;
   height: 100vh;
   background-color: rgb(37,0,37);
   color: white;
   display: grid;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   place-items: center;
}

form{
   width: 400px;
   height: 460px;
   border: 1px solid white;
   padding: 2rem 1.5rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1.2rem;
   box-shadow: 0 0 20px rgb(255,255,255, 0.20);
}


.data{
   font-size: 1.2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

input{
   width: 200px;
   font-size: 1rem;
   padding: 5px;
   border: 1px solid white;
   padding-left: 10px;
   background-color: transparent;
   color: white;
}

.btns{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
}

.sbmt{
   width: auto;
}
.sbmt,.log{
   background-color: transparent;
   border: 1px solid white;
   padding: 5px 20px;
   margin: 10px;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   font-size: 1.2rem;
   text-align: center;
   transition: all .5s;
   font-weight: bold;
}

.sbmt:hover,.log:hover{
   background-color: white;
   color: rgb(37,0,37);
}

a:hover{
   color: rgb(37,0,37);
}